@charset "utf-8";
*{
	padding:0px;
	margin:0px;
	font-family: "微软雅黑";
}
::-webkit-scrollbar{
	display: none;
}
a{
	text-decoration: none;
}
html{
	height: 100%;
	font-size:8.88vw;
}
body{
	display: flex;
	flex-direction: column;
	background-size: cover;
	height:100%;
}
.ui-header{
	width:100%;
	height:1.74rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: #0066BA;	
	/*background-image: url(../img/header.png);*/
	/*background-size: cover;*/

}
.ui-header img{
	width:0.92rem;
	margin-top: .2rem;
	margin-right: 0.3rem;
	margin-left: .6rem;
}
.ui-header span {
	font-size: 0.62rem;
	color:#fff;
}
.ui-content{
	display: flex;
	flex-direction:column;
	width: 100%;
	overflow: auto;
	flex: 1;
	background: #F7F7F7;
}
.ui-title{
	height:.6rem;
	border-bottom: 1px solid #d2d2d2;
	color:#333333;
	font-size: .36rem;
	line-height: .6rem;
	text-indent: 1em;
}
.ui-nav{
	display: flex;
	justify-content: space-between;
	height:1rem;
	margin-bottom: .60rem;
}
.ui-nav li{
	height:1rem;
	flex: 1;
	display: flex;
	justify-content: center;
	line-height: 1rem;
	font-weight:bold;
	cursor: pointer;
	font-size: .44rem;
}
.ui-nav1{
	color:#0066ba;
	border-bottom: 2px solid #0066BA;
}
.ui-nav2{
	color:#2c2c2c;
}
ul{
	list-style-type: none;
}
li{
	font-size: .46rem;
	padding: .15rem .4rem;
	background: #ffffff;
}
.ui-section{
	display:block;
	flex: 1;
	overflow: auto;
	padding: 0rem .46rem;
}
.ui-content1{
	display: block;
	overflow: auto;
	border-radius: .2rem;
	background: #ffffff;
	padding-top: .15rem;
	padding-bottom: .3rem;
	
}
.ui-content2{
	display: none;
	overflow: auto;
	border-radius: .2rem;
	background: #ffffff;
	padding-top: .15rem;
	padding-bottom: .3rem;
}
.ui-content3{
	display: none;
	overflow: auto;
	border-radius: .2rem;
	background: #ffffff;
	padding-top: .15rem;
	padding-bottom: .3rem;
}
select,input{
	width:100%;
	height:.9rem;
	margin-top: .3rem;
	box-sizing: border-box;
	font-size: .42rem;
	color:#2c2c2c;
	outline: none;
	border: none;
	text-indent: .2rem;
	background: #F7F7F7;
	line-height: .9rem;
}
.ui-name{
	line-height: .84rem;
}
.must{
	color:#ff3d3d;
	margin-left: .10rem;
}
textarea{
	width:100%;
	height:3rem;
	border:none;
	margin-top: .3rem;
	font-size: .42rem;
	text-indent: 2em;
	color:#2c2c2c;
	outline: none;
	background: #F7F7F7;
	line-height: .8rem;
}
.file{
	display: none;
}
.ui-warn{
	display: block;
	padding-top: .40rem;
	color: #0e75f3;
	font-size: .36rem;
	line-height: .68rem;
}
.ui-warn p{
	margin-left: 2em;
}
.ui-warn a{
	line-height: 1rem;
	text-decoration: none;
	color: #0e75f3;
}
.btn{
	padding: .4rem .2rem;
	font-size: .46rem;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.submit,.cancel{
	width:44%;
	height:1rem;
	line-height: 1rem;
	text-align: center;
	border-radius:.2rem;
	background-color:#0066BA;
	display:inline-block;
	color:#FFFFFF;
}
.ui-upload{
	display: flex;
	justify-content: space-between;
	font-size: .46rem;
}
.ui-upload img{
	height:.48rem;
	margin-right: .2rem;
}
.ui-footer {
  width: 100%;
  height: 1.56rem;
  display: flex;
  background: #3076bb;
  justify-content: space-around;
  align-items: center;
}
.ui-footer > a {
  font-size: .32rem;
  color: #fff;
}
.ui-footer > a dl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: 'iconfont';
  src: url('../common/font/iconfont.eot');
  src: url('../common/font/iconfont.eot?#iefix') format('embedded-opentype'), url('../common/font/iconfont.woff') format('woff'), url('../common/font/iconfont.ttf') format('truetype'), url('../common/font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
