.ui-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x:hidden;
}
.ui-container dl {
	
}
.ui-container dl dt {
  text-align: center;
}
.ui-container dl dt img {
  width: 3.4rem;
}
.ui-container dl dd {
  text-align: center;
  font-size: .6rem;
  line-height:1rem;
}
.ui-container::-webkit-scrollbar{
	display: none;
}
