.ui-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 0;
}
.ui-container a {
  color: #333;
}
.ui-container dl {
  background: #fbfbfb;
  margin-bottom: .3rem;
  padding: .6rem;
  display: inline-block;
  text-align: center;
  font-size: .8rem;
}
.ui-container dl.margin-right {
  margin-right: 5%;
}
.ui-container dl dt img {
  width: 3rem;
  height: 3rem;
}
.ui-container dl dd {
  font-size: .5rem;
  line-height: .6rem;
}
.ui-content{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.ui-subtitle1 {
    height: 1rem;
    padding: 0rem .52rem;
    font-size: .52rem;
    line-height: 1rem;
}


