body,p,h1,h2,h3,h4,h5,h6,ul,li,a,span,img,input,select,textarea,div,dl,dd,dt{
	margin:0;
	padding:0;
}
html,body{height:100%;}
html{
	font-size: 8.88vw;
}
body{
	font-family: "微软雅黑";	
	display:flex;
	flex-direction: column;
}
a {
	text-decoration: none;
}
img {
	border:none;
}
li{
    list-style:none;
}
input,select,textarea{
	outline:none;
}
.ui-header{
	width:100%;
	height:1.74rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: #0066BA;	
}
.ui-header img{
	width:0.92rem;
	margin-top:0.2rem;
	margin-right: 0.4rem;
	margin-left: 0.6rem;
}
.ui-header span {
	font-size: 0.62rem;
	color:#fff;
}

.ui-content{
	width:100%;
	flex:1;
	overflow:auto;
}
ul li {
	width:10.4rem;
	height:3.2rem;
	border:1px solid #045191;
	margin:0.2rem auto;
	background: #2171c1;
    box-shadow: 0 0 0.08rem 0.06rem #218bda inset;   
}
ul li a{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color:#fff;
}
ul li img{
	width:1.6rem;
	height:1.6rem;
	padding:0.8rem;
	display:block;
}
h2{
	font-size: 0.5rem;
	margin-bottom: 0.12rem;
}
h3{
	font-size: 0.44rem;
	font-weight: normal;
}
.ui-footer {
  width: 100%;
  height: 1.56rem;
  position: fixed;
  bottom: 0;
  display: flex;
  background: #3076bb;
  justify-content: space-around;
  align-items: center;
}
.ui-footer > a {
  font-size: .32rem;
  color: #fff;
}
.ui-footer > a dl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: 'iconfont';
  src: url('../common/font/iconfont.eot');
  src: url('../common/font/iconfont.eot?#iefix') format('embedded-opentype'), url('../common/font/iconfont.woff') format('woff'), url('../common/font/iconfont.ttf') format('truetype'), url('../common/font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}