.ui-container {
  width: 100%;
  overflow-y: auto;
  overflow-x:hidden;
}
.ui-list {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:1rem;
}
.ui-list li h2 {
  font-size: .5rem;
  line-height: .7rem;
  font-weight: normal;
}
.ui-list li .ui-video {
  margin-top: .2rem;
  height: 6rem;
  background: #f10;
}
.ui-container::-webkit-scrollbar{
	display:none;
}
