
.ui-section{
	width:1204px;
	margin:0 auto;
	background-color:#ffffff;
}
.information-title{
	width:1178px;
	height:64px;
	margin-left:28px;
	font-size:18px;
	font-family:"微软雅黑";
	color:#0066ba;
	font-weight:bold;
	line-height:64px;
}
.petitioners-information1{
	width:1154px;
	height:312px;
	border-top:2px solid #0066ba;
	margin-left:28px;
}
.list1{
	width:558px;
	height:62px;
	float:left;
}
.list1-name{
	font-size:18px;
	font-family:"微软雅黑";
	color:#333333;
	line-height:62px;
	text-indent:8px;
	float:left;
}
.list1 .must{
	color:#ff4141;
	margin-left:20px;
	margin-right:8px;
	line-height:62px;
	float:right;
}
.list1 input{
	width:386px;
	height:30px;
	border:1px solid #dedede;
	margin-top:16px;
	background-color:#f9f9f9;
	font-size:16px;
	font-family:"微软雅黑";
	color:#333333;
	text-indent:16px;
	line-height:30px;
	float:right;
}
.list2,.list4{
	width:558px;
	height:62px;
	margin-left:38px;
	float:left;
}
.list2-name{
	font-size:18px;
	font-family:"微软雅黑";
	color:#333333;
	line-height:62px;
	text-indent:8px;
	letter-spacing:36px;
	float:left;
}
.list2-radio{
	width:386px;
	height:30px;
	margin:18px 0 0 50px;
	float:left;
}
.list2-radio span{
	margin-right:22px;
}
.list1 select{
	width:388px;
	height:32px;
	padding:0;
	margin:0;
	border:1px solid #dedede;
	margin-top:16px;
	background-color:#f9f9f9;
	font-size:16px;
	font-family:"微软雅黑";
	color:#333333;
	text-indent:16px;
	float:right;
}
.list2 select{
	width:388px;
	height:32px;
	border:1px solid #dedede;
	margin-top:16px;
	margin-right:10px;
	background-color:#f9f9f9;
	font-size:16px;
	font-family:"微软雅黑";
	color:#333333;
	text-indent:16px;
	line-height:32px;
	float:right;
}
.list2 .must{
	color:#ff4141;
	margin-right:8px;
	line-height:62px;
	float:right;
}
.list2 input{
	width:386px;
	height:30px;
	border:1px solid #dedede;
	margin-top:16px;
	margin-right:10px;
	background-color:#f9f9f9;
	font-size:16px;
	font-family:"微软雅黑";
	color:#333333;
	text-indent:16px;
	line-height:30px;
	float:right;
}
.list3-name{
	font-size:18px;
	font-family:"微软雅黑";
	color:#333333;
	line-height:62px;
	text-indent:8px;
	letter-spacing:8px;
	float:left;
}

.petitioners-information2{
	width:1154px;
	height:622px;
	border-top:2px solid #0066ba;
	margin-left:28px;
	margin-bottom:68px;
}
.select{
	width:558px;
	height:62px;
	float:left;
}
.select-name{
	font-size:18px;
	font-family:"微软雅黑";
	color:#333333;
	line-height:62px;
	text-indent:8px;
	float:left;
}
.select .must,.information3-content .must{
	color:#ff4141;
	margin-left:20px;
	margin-right:8px;
	line-height:62px;
	float:right;
}
.select input{
	width:340px;
	height:30px;
	border:1px solid #dedede;
	margin-top:16px;
	background-color:#f9f9f9;
	font-size:16px;
	font-family:"微软雅黑";
	color:#333333;
	text-indent:16px;
	line-height:30px;
	float:right;
}
.place{
	width:558px;
	height:62px;
	margin-left:38px;
	float:left;
}
.place-name{
	font-size:18px;
	font-family:"微软雅黑";
	color:#333333;
	line-height:62px;
	text-indent:8px;
	float:left;
}
.place .must{
	color:#ff4141;
	margin-right:80px;
	line-height:62px;
	float:right;
}
.place input{
	width:386px;
	height:30px;
	border:1px solid #dedede;
	margin-top:16px;
	margin-right:10px;
	background-color:#f9f9f9;
	font-size:16px;
	font-family:"微软雅黑";
	color:#333333;
	text-indent:16px;
	line-height:30px;
	float:right;
}
.information3-content{
	width:1154px;
	height:254px;
	float:left;
}
.information3-content textarea{
	width:938px;
	height:208px;
	border:1px solid #dedede;
	background-color:#f9f9f9;
	font-size:16px;
	font-family:"微软雅黑";
	color:#333333;
	text-indent:16px;
	line-height:30px;
	float:right;
}
.msg{
	width:938px;
	height:26px;
	margin-left:216px;
	font-size:14px;
	font-family:"微软雅黑";
	color:#ff2f2f;
	line-height:26px;
	float:left;
}
.upload-data{
	width:793px;
	height:32px;
	margin-top:24px;
	float:left;
}
.upload-data input{
	width:628px;
	height:30px;
	border:1px solid #dedede;
	background-color:#f9f9f9;
	font-size:16px;
	font-family:"微软雅黑";
	color:#333333;
	text-indent:16px;
	line-height:30px;
	float:right;
}
.file{
	margin:6px 0 6px 10px;
	float:right;
}
.file input{
	display:none;
}
.upload-data img{
	border:none;
	margin:6px 0 6px 10px;
	float:right;
}
.updata-name{
	font-size:18px;
	font-family:"微软雅黑";
	color:#333333;
	line-height:30px;
	text-indent:8px;
	float:left;
}
/*input.submit1{
	width:136px;
	height:36px;
	border-radius:4px;
	margin:102px 12px 0 450px;
	background-color:#dadada;
	font-size:18px;
	font-family:"微软雅黑";
	color:#4e4e4e;
	float:left;
	background: #3874b1;
	color:#ffffff;
	cursor: pointer;
	
}*/
/*.submit1:hover{
	background: #3874b1;
	color:#ffffff;
}*/
/*input.cancel1{
	width:136px;
	height:36px;
	border:1px solid #dadada;
	border-radius:4px;
	margin-top:102px;
	background-color:#dadada;
	font-size:18px;
	font-family:"微软雅黑";
	color:#4e4e4e;
	float:left;
	cursor: pointer;
}*/
/*.cancel1:hover{
	background: #3874b1;
	color:#ffffff;
}*/
.ui-footer{
	border-top: 6px solid #0066ba;
	background: #ededed;
	line-height: 36px;
	font-size: 14px;
	color:#686868;
}
.ui-footer-content{
	width:1210px;
	height: 128px;
	margin-top: 2px;
	margin:0 auto;
}
.ui-footer-font{
	float:left;
	width:888px;
}
.ui-footer-font>:first-child{
	margin-top:40px;
}

